.note
  :textile
    We are using "Textile":http://hobix.com/textile/ for formatting by default.
    
= f.label :name
= f.text_field :name
%br
= f.label :description
%br
= f.text_area :description
%br
= f.label :priority
= f.select :priority, 10.times.collect {|i| [i+1, i+1]}
%br
= hidden_field :project_id, :value => @project.id
= f.submit