- content_for :signup do
  = render :partial => "shared/signup"
  
.login
  %h2 Login
  - form_for :user, :url => authenticate_users_path, :html => {:method => :post} do |f|
    = f.error_messages
    = label_tag "OpenID"
    %br
    = text_field_tag "user[openid_identifier]"
    %br
    %br
    
    = f.submit " login "
  
