%h2 Signup

%h3 Why Tasche?

%p Tasche is a program to help people keep track of a project. Tasche keeps track of tasks that need to be done in that project. This site can be used for any project.

%h3 Get Started

%p To login into Tasche you need to have an OpenID account from a provider. There are plenty of providers. OpenID is a profile provider so that you only have a single profile for all website and you don't have to create a new one for every different website you want to join.

%h3 Get Your OpenID

%p You may have an OpenID already! Here are a few providers that automatically create an OpenID for you:

%ul
  %li
    .link= link_to "#{image_tag 'misc/aol.png'} AOL", "http://www.aol.com"
    .example http://openid.aol.com/screenname
  
  %li
    .link= link_to "#{image_tag 'http://www.yahoo.com/favicon.ico'} Yahoo", "http://www.yahoo.com"
    .example http://openid.yahoo.com
    
  %li
    .link= link_to "#{image_tag 'http://www.blogger.com/favicon.ico'} Blogger", "http://www.blogger.com"
    .example http://blogname.blogspot.com
    
  %li
    .link= link_to "#{image_tag 'http://www.flickr.com/favicon.ico'} Flickr", "http://www.flickr.com"
    .example http://www.flickr.com
    
  %li
    .link=link_to "#{image_tag 'http://www.livedoor.com/favicon.ico'} LiveDoor", "http://www.livedoor.com"
    .example http://www.livedoor.com
    
  %li
    .link=link_to "#{image_tag 'http://www.livejournal.com/favicon.ico'} Livejournal", "http://www.livejournal.com"
    .example http://www.livejurnal.com
    
  %li
    .link=link_to "#{image_tag 'http://www.orange.fr/favicon.ico'} Orange", "http://www.orange.fr"
    .example http://www.orange.fr
    
  %li
    .link=link_to "#{image_tag 'http://openid.net/wp-content/uploads/smugmug.png'} Smugmug", "http://www.smugmug.com"
    .example http://www.smugmug.com
    
  %li
    .link=link_to "#{image_tag 'http://www.technorati.com/favicon.ico'} Technorati", "http://www.technorati.com"
    .example http://www.technorati.com
    
  %li
    .link=link_to "#{image_tag 'http://openid.net/wp-content/uploads/vox.png'} Vox", "http://www.vox.com"
    .example http://www.vox.com
    
  %li
    .link=link_to "#{image_tag 'http://openid.net/wp-content/uploads/wordpress.png'} WordPress", "http://www.wordpress.com"
    .example www.wordpress.com

  / We are getting all of this information from: http://openid.net/get/
  
%h3 Still Don't Have One?

%p Here is are some of our favorite OpenID providers:

%ul
  %li= link_to "Yahoo", "http://www.yahoo.com"
  
%h3 Information

%p To learn more about OpenID we've provided these links:

%ul
  %li= link_to "What is OpenID?", "http://openid.net/what/"
