.note
  :textile
    We are using "Textile":http://hobix.com/textile/ for formatting by default.
    
= f.label :name
= f.text_field :name
%br
= f.label :description
%br
= f.text_area :description
%br
= f.submit