.project{:id => "project_id_#{project_summary.id}"}
  .header
    .name= project_summary.name
  .body
    .description= textilize truncate project_summary.description, :omission => " .. (#{link_to('more details', project_path(project_summary.id))})", :length => 14, :word_count => true
    .user_header
      .name= "view users(#{project_summary.users.length + 1})"
    .users
      %h4 The following people are on this project.
      - project_summary.users.each do |user|
        .user_details
          .name= link_to user.nickname, user_path(user.id)