%html

  %head
    %title Tasche
    
    <!-- 960 framework: http://960.gs -->
    = stylesheet_link_tag "960", "reset"
    <!-- 960 framework end -->
    
    = stylesheet_link_tag "fonts", "layout", "menu", "projects"
    = javascript_include_tag "jquery", "application"
    
  %body.container_16
      
    #header.grid_16
      = render :partial => "shared/header"

    #content.grid_16
      - flash.each do |key, value|
        %div{:class => key}= value
        
      = yield :signup
      = yield
